<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class = "audit-detail-background">
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.Name}}</b>
  </h4>

  <ion-content class="audit-detail-background">
    <ion-row align-items-end>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Weight</ion-label>
          <ion-input  [(ngModel)]="currentWeight"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Volume (gal bag % for 50 gal bag)</ion-label>
          <ion-select [(ngModel)]="currentVolume">
            <ion-option value="10">10%</ion-option>
            <ion-option value="20">20%</ion-option>
            <ion-option value="30">30%</ion-option>
            <ion-option value="40">40%</ion-option>
            <ion-option value="50">50%</ion-option>
            <ion-option value="60">60%</ion-option>
            <ion-option value="70">70%</ion-option>
            <ion-option value="75">75%</ion-option>
            <ion-option value="80">80%</ion-option>
            <ion-option value="85">85%</ion-option>
            <ion-option value="90">90%</ion-option>
            <ion-option value="100">100%</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="addBag()" >Add new Bin</button>
      </ion-col>
    </ion-row>


    <ng-container *ngFor="let item of items; let i = index">
      <ng-container *ngIf="item.Category==selectedItem.Name">
        <ion-card  class="audit-parent-card" style='text-align: center'>Bin - {{item.Date}}
          <ion-row align-items-end>
            <ion-col col-6>
              <ion-card class="audit-detail-card">
                <ion-item class="audit-detail-card">
                  Volumne
                </ion-item>
                <ion-item class="audit-detail-card">
                  {{item.Volume}}
                </ion-item>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card >
                <ion-item class="audit-detail-card">
                  Weight
                </ion-item>
                <ion-item class="audit-detail-card">
                  {{item.Weight}}
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row >
        </ion-card >
      </ng-container>

        <!--
          <p style="border-style: solid; margin: 0; padding: 1">

        </p>
          -->
    </ng-container>
</ion-content>
