page-audit-detail {

  .audit-detail-header{
    font-size: 25px;
  }
  .audit-detail-background{
    background: lightgray;
  }
  .audit-parent-card{
    background-color: #00447C;
    color: white;
  }
  .audit-detail-card{
    text-align: center;
    font-size: large;
    color: white;
    background-color:#79bde8;
  }
  .audit-header-card{
    border: think solid black;
  }
}
